<%- include("partials/header.ejs") %>

<main>
  <div class="container">
    <div id="<%= post["id"] %>" class="post single">
      <h2>
        <%= post["title"] %>
      </h2>
      <p>
        <%= post["content"] %>
      </p>
      <div class="postFooter">
        <div class="karma">
          <i class="fa-regular fa-circle-up clickable"></i>
          <span> <%= post["karma"] %> </span>
          <i class="fa-regular fa-circle-down clickable"></i>
        </div>
        <div onclick="editPost('<%= post[`id`] %>')" class="button clickable edit">Edit</div>
        <div onclick="deletePost('<%= post[`id`] %>')" class="button clickable delete">Delete</div>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>